{% extends "base.html" %} {% block title %} About LacedUp{% endblock title %} 
{%block content %}
<h1>About Us </h1> 
<p class="fw-lighter">Welcome to Shop – your one-stop destination for a seamless and secure online shopping experience.
     We are passionate about offering quality products, reliable service,
      and a user-friendly checkout system, including trusted payment gateways like Razorpay.
     We prioritize your satisfaction and data privacy. Our goal is to make shopping not just easy, but enjoyable.
    What started as a coding passion project has grown into a space where I merge technology with great shopping experiences. 
    Every feature, from product selection to secure checkout, is personally crafted and optimized by me.
This platform reflects my commitment to clean design, smooth performance, and above all, user trust. 
I’m here to build not just a store, but a personal connection with every visitor.</p>
{% endblock content %}
