{% extends "base.html" %}
{% block title %}Privacy policy {% endblock title %} 
{% block content %}
<h1>Privacy Policy – Payment Information</h1>
<p>We are committed to protecting your personal and transactional data. 
When you make a purchase on our website, your payment is securely processed through Razorpay,
a trusted and PCI-DSS compliant payment gateway. We do not store your card or bank details on our servers.
We only collect necessary information such as your name, email, contact number, 
and address to process your order and communicate updates. 
All sensitive payment details are handled directly by Razorpay through encrypted channels.
By using our checkout process, you consent to the collection and use of this information in accordance with this policy.</p>
{% endblock content %}