{% extends "base.html" %} {% block title %} Terms of Service{% endblock title %} 
{%block content %}
<h1>Terms of Service </h1> 
<p class="fw-lighter mt-5">For the purpose of these Terms and
Conditions, The term "we", "us", "our" used anywhere on this page shall mean
Vikram Singh, whose registered/operational office is Jirolli Dor Aligarh UTTAR
PRADESH 202001 . "you", “your”, "user", “visitor” shall mean any natural or
legal person who is visiting our website and/or agreed to purchase from us.  Your use of
any information or materials on our website and/or product pages is entirely at
your own risk, for which we shall not be liable.  All trademarks
reproduced in our website which are not the property of, or licensed to, the
operator are acknowledged on the website. Unauthorized use of information
provided by us shall give rise to a claim for damages and/or be a criminal
offense. From time to time our website may also include links to other websites.
These links are provided for your convenience to provide further information.
You may not create a link to our website from another website or document
without Vikram Singh’s prior written consent.</p>
{% endblock content %}
